{% extends "general/layout.html" %}

{% block head_title %}Bienvenido a mi instagram{% endblock head_title %}

{% block page_content %}
{% load crispy_forms_tags %}
    <div class="container">
        <form action="" method="post">

            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-6">
                    {{ form.first_name|as_crispy_field }}
                    {{ form.username|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.password|as_crispy_field }}
                </div>
                <button class="btn btn-secondary"></button>
            </div>
        </form>
    </div>
{% endblock page_content %}